Django>=4.2
djangorestframework
djangorestframework-simplejwt
django-cors-headers
psycopg2-binary
python-dotenv
django-ratelimit
django-recaptcha
PyPDF2
reportlab
openpyxl
openai
scikit-learn
pandas
numpy
joblib